<table class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Numero</th>
            <th>Descripción</th>
            <th>Familia</th>
            <th>Estado</th>
            <th>Marca</th>
            <th>Tipo</th>
            <th>Tipo Tarjeta</th>
            <th>Moneda</th>
            <th>Tipo Producto</th>
            <th>Cuenta Relacionada</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let product of listadoProductos">
            <tr>
                <td>{{product.rowIdProducto}}</td>
                <td>{{product.numProducto}}</td>
                <td>{{product.descripcion}}</td>
                <td>{{product.familia}}</td>
                <td>{{product.estado}}</td>
                <td>{{product.codigoProducto}}</td>
                <td>{{product.marca}}</td>
                <td>{{product.tipo}}</td>
                <td>{{product.tipoTarjeta}}</td>
                <td>{{product.moneda}}</td>
                <td>{{product.tipoProducto}}</td>
                <td>{{product.cuentaRelacionada}}</td>
            </tr>
        </ng-container>
    </tbody>
</table>
