
<div class="container">
    <div class="card">
        <div class="card-header">
          PRODUCTOS BLOQUEADOS
        </div>
        <div class="card-body scroll-body">
            <app-productos-activos>
            </app-productos-activos>
            
        </div>
    </div>
    <div class="card">
        <div class="card-header">
          PRODUCTOS ACTIVOS
        </div>
        <div class="card-body scroll-body">
            <app-productos-bloqueados>
            </app-productos-bloqueados>
        </div>
    </div>
</div>